// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.azeret-mono-<normal> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */

/* header style */
.head{
    text-align: center;
}
.hd{
    font-size: 48px;
    font-weight: bolder;
    color:  #0D1321;
}
.pg{
    font-size: 16px;
    color: #0D1321;
}
.btn{
font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 21px 24px;
    max-width: 300px;
    background-color: black;
    color: #FFFFFF;
    border: none;
    
}
.banner{
    padding: 26px 221px 45px;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 125px;

}

/* main style */
.dv{
    text-align: center;
    margin-top: 200px;
    padding-bottom: 50px;
}
.web{
    font-size: 32px;
    font-weight: bolder;
    color:  #0D1321;
}
.flayer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: 80px 97px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.slayer{
     display: flex;
    justify-content: space-between;
    border: 0px 97px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 50px;
    
}
.tlayer{
    display: flex;
    justify-content: space-between;
    border: 80px 97px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 50px;
}
.spart{
    margin: 0 auto;
    max-width: 1140px;
    border-radius: 5px;
    border-color: rgba(13, 19, 33, 0.02);
}
.th{
    color: #0D1321;
    font-size: 26;
    font-weight: bold;
}
.tpart{
    text-align: center;
    margin: 50px 150px;
}
.video{
    padding: 20px;
}
#skill-content{
    text-align: center;
    padding: 50px;
}
.skill{
    display: flex;
    gap: 24px;
    margin: 100px;
}
#htm{
    background-color: #eeece8;
    border: 40px;
    border-radius: 5px;
}
#cs{
    background-color: rgb(213, 240, 231);
    padding: 40px;
    border-radius: 5px;
}
#jvs{
    background-color: rgb(236, 230, 223);
    border: 40px;
    border-radius: 5px;

}
#tbl{
    text-align: center;
    background-image: url(./assets/handshake.jpg);
    background-size: cover;
    /* margin: 150px 180px */
    height: 500px;
    /* display: flex; */
    /* flex-direction: row; */
}
.in{
    width: 550px;
    height: 60px;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}
#sm{
    width: 120px;
    height: 60px;
    border-radius: 5px;
}
.sup{
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding-top: 100px;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 50px;

}